<div class="main-container">
    <div class="left-pane">
        <div class="preset-dates-container">
            <div *ngFor="let presetDateRange of presetDateRanges">
                <div class="preset-date" (click)="setRange(presetDateRange.start, presetDateRange.end)">
                    {{presetDateRange.title}}
                </div>
            </div>

            <div class="buttons-container">
                <button
                    class="apply-button"
                    type="button"
                    (click)="apply()"
                    [disabled]="!dateArr[0] || !dateArr[1]"
                    [ngClass]="{'apply-button-disabled': !dateArr[0] || !dateArr[1]}">
                    {{settings.applyButtonText}}
                </button>
                <button class="close-button" type="button" (click)="close()">{{settings.closeButtonText}}</button>
            </div>
        </div>
    </div>
    <div class="wrapper" style="display: inline-block;">
        <div>
            <input
                type="text" class="form-control from-to"
                [ngModel]="settings.dateFormatter(dateArr[0])"
                (change)="setDate(0, $event.target.value)" />
            <input
                type="text" class="form-control from-to"
                [ngModel]="settings.dateFormatter(dateArr[1])"
                (change)="setDate(1, $event.target.value)" />
        </div>
        <ng-container [ngSwitch]="currentView">
            <ng-container *ngSwitchCase="'day'">
                <div class="header">
                    <span class="month-selector">
                        <i class="left-arrow fa fa-angle-left" style="float: left;" (click)="prevMonth()"></i>
                        <span class="month-name" (click)="setView('month')">{{monthName}}</span>
                        <i class="right-arrow fa fa-angle-right" style="float: right;" (click)="nextMonth()"></i>
                    </span>
                    <span>
                        <i class="fa fa-calendar" style="cursor:pointer;" (click)="setToday()"></i>
                    </span>
                    <span style="float: right">
                        <i class="left-arrow fa fa-angle-left" (click)="prevYear()"></i>
                        <span class="year-name" (click)="setView('year')">{{viewDate?.getFullYear()}}</span>
                        <i class="right-arrow fa fa-angle-right" (click)="nextYear()"></i>
                    </span>
                </div>
                <ng-calendar
                        [ngModel]="dateArr"
                        [viewDate]="viewDate"
                        [disabledDays]="settings.disabledDays"
                        [highlightDays]="highlightDays"
                        [addFunction]="addFunction"
                        [daysOfWeeks]="settings.daysOfWeeks"
                        (onDateChange)="onCalendarDateRangeChange($event)">
                </ng-calendar>
            </ng-container>
            <ng-container *ngSwitchCase="'month'">
                <month-picker [ngModel]="viewDate.getMonth()" (onMonthChanged)="setMonth($event)" [months]="settings.shortMonthNames"></month-picker>
            </ng-container>
            <ng-container *ngSwitchCase="'year'">
                <year-picker [ngModel]="viewDate.getFullYear()" (onYearChanged)="setYear($event)"></year-picker>
            </ng-container>
        </ng-container>
    </div>
</div>
